body {
    text-align: center;
}

.title-section {
    background-color: #0067F4;
}

.title-image {
    width: 50%;
    border-radius: 10px;
    margin-top: 2%;
    margin-right: 15%;
}

.title-heading {
    
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    color: white;
}

.title-text {
    padding: 15% 10%;
}

.title-text p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}