body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-weight: bolder;
    font-size: 3rem;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

#title {
    background-color: #0067F4;
}

.title-text {
    padding-top: 10%;
    padding-left: 10%;
    text-align: left;
    color: white;
}

.title-image {
    width: 40%;
    border-radius: 2%;
    margin: 5% 7%;
}

.explanation {
    padding: 5% 25%;
}

/* Services Section  */

.service-text {
    padding: 5% 15%;
}

.services {
    background-color: #EAECEF;
    align-items: center;
}

 .service-item {
    background-color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;
 }

.service-icon {
    color: #0067F4;
    font-size: 30px;
    padding-bottom: 10%;
}

/* Featured Work Section  */
.featured-work {
    padding: 5% 10% 5%;
    background-color: #121B2E;
    color: #FFFFFF;
}

.gallery-image {
    max-width: 80%;
    margin: 10%;
    border-radius: 3%;
}

/* Testimonials Section  */

.testimonial-image {
    max-width: 100%;
    border-radius: 100%;
    margin-top: 5%;
}

.testimonial-image-group {
    padding: 2% 30% 2%;
}

.testimonials {
    background-color: #FFFFFF;
    padding: 5% 20% 5%;
}

.rating {
    padding-top: 2%;
    color: #FF8A00;
}

.testimonials p {
    color: #555555;
}

/* Contact Section  */
.contact  {
    padding: 5%;
    background-color: #EAECEF;
}

.icon {
    color: #0067F4;
    margin: 1%;
}

/*@media (max-width: 770px) {
    .title-text {
        width: 100%;
        text-align: center;
    }
    .title-image {
        width: 100%;
        margin: 0 auto;
        border-radius: 0%;
        /* visibility: hidden; */
    }
}

@media (max-width: 576px){
    .title-text {
        width: 100%;
        text-align: center;
    }
    .title-image {
        visibility: hidden;
    }
    .service-item {
        width: 100%;
    }
    .gallery-item {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .gallery-item {
        width: 100%;
    }
}