body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-weight: bolder;
    font-size: 3rem;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

#title {
    background-color: #0067F4;
}

.title-text {
    padding-top: 10%;
    padding-left: 10%;
    text-align: left;
    color: white;
}

.title-image {
    width: 40%;
    border-radius: 2%;
    margin: 5% 7%;
}

.explanation {
    padding: 5% 25%;
}

/* Services Section  */

.service-text {
    padding: 5% 25%;
}

.services {
    background-color: #EAECEF;
    align-items: center;
    padding: 0 5% 5%;
}

 .service-item {
    background-color: #FFFFFF;
    margin: 1%;
    padding: 2%;
    border-radius: 5%;
 }

.service-icon {
    color: #0067F4;
    font-size: 30px;
    padding-bottom: 10%;
}

/* Featured Work Section  */
.featured-work-heading {
    padding: 5%;
}

.gallery-item {
    max-width: 100%;
    margin: 2%;
    border-radius: 3%;
}

/* Testimonials Section  */

.testimonial-image {
    max-width: 100%;
    border-radius: 100%;
    margin-top: 5%;
}

.testimonial-image-group {
    padding: 2% 30% 2%;
}

.testimonials {
    background-color: #EAECEF;
    padding: 5% 20% 5%;
}

.rating {
    padding-top: 2%;
}

.testimonials p {
    color: #555555;
}